/* PAGE */

body,
.pure-g [class*="pure-u"] {
  font-family: "Open Sans", sans-serif;
  background: white;
  color: lightskyblue;
}

.header {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: lightsalmon;
  margin-block-start: 0px;
  margin-block-end: 10px;
}

h1 {
  font-size: 70px;
}

table {
  width: 100%;
  background-color: white;
}

th {
  color: lightsalmon;
  padding: 0px 7px;
}

td {
  padding: 2px 10px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

table,
th,
td {
  border-style: solid;
  border-color: lightskyblue;
  border-width: 1px;
  padding: 15px;
}

select {
  background-color: white;
  color: lightskyblue;
  outline: none;
	border: none;
	border: 1px solid lightskyblue;
}

code {
  padding: 0.25rem;
  margin: 0 0.25rem;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: calc(100% - 60px);
  max-width: 1200px;
  padding: 25px 20px;
  margin: 0 auto;
}

.pure-form input[type="text"] {
  color: black;
}

input {
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li:not(:last-child) {
  margin-bottom: 15px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: "Oswald", "Arial Narrow", sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* LOADING SCREEN */

.loading-screen {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}

/* FORMS */

.pure-form {
  display: inline-block;
}

/* ALERTS */

.alert {
  padding: 0.5rem;
  color: darkgreen;
  background: darkseagreen;
  border: 1px solid darkgreen;
}

.btn {
  background-color: white;
  border: none;
  outline: none;
  color: lightskyblue;
  cursor: pointer;
}

.side {
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
  color: lightskyblue;
  cursor: pointer;
  border-radius: 50%;
}

.size {
  font-size: 20px;
}

.num {
  margin-left: 8px;
}

.up {
  background-color: white;
  transform: translate(100px, 11px);
}

.pure-button {
  background-color: white;
  color: lightskyblue;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
}

.button-border {
  color: white;
  background-color: lightskyblue;
  height: 30px;
}

.pure-button:hover {
  background-image: none;
}

.pure-button:focus {
  background-image: none;
  outline: none;
}

.smoke {
  background-color: white;
}

.right {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.load {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: lightsalmon;
}

.title2 {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: lightsalmon;
  text-align: center;
}

.toggle {
  cursor: pointer;
  margin-top: -9px;
  padding: 0px 8px;
  font-size: 30px;
}

.refresh {
  padding: 0px;
  font-size: 30px;
  display: absolute;
}

.inline {
  display: inline-block;
}

.send {
  margin-left: 5px;
  margin-top: -3px;
}

.loading {
  font-size: 300px;
}

.loading2 {
  font-size: 40px;
  margin-bottom: 0px;
}

.selector {
  padding-left: 10px;
}

.bottom {
  margin-bottom: 10px;
}

.bottom2 {
  margin-bottom: 50px;
}

.listTable {
  width: 300px;
}

.des {
  position: absolute;
  text-align: center;
  bottom: 0px;
	width: 100%;
	color: lightsalmon;
}

.width {
  width: 70%;
}

.no {
  border: none;
}

.white {
  background-color: white;
}

.featuredBorder {
  border: 10px solid whitesmoke;
  border-bottom: 45px solid whitesmoke;
}

.frame {
	position: relative;
}

.top {
  padding-top: 10px;
}
